<a href="https://colab.research.google.com/github/PrathamSoni4473/Machine-Learning/blob/main/NaiveBayes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [28]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB

In [17]:
df = pd.read_csv('titanic.csv')
df.head()

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0

In [18]:
tit = df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns')

In [19]:
target = tit.Survived
input = tit.drop(['Survived'],axis='columns')

In [20]:
dumies = pd.get_dummies(input.Sex)
dumies.head()

   female  male
0       0     1
1       1     0
2       1     0
3       1     0
4       0     1

In [21]:
input = pd.concat([input,dumies],axis='columns')
input = input.drop(['Sex'],axis='columns')
input.head()

   Pclass   Age     Fare  female  male
0       3  22.0   7.2500       0     1
1       1  38.0  71.2833       1     0
2       3  26.0   7.9250       1     0
3       1  35.0  53.1000       1     0
4       3  35.0   8.0500       0     1

In [23]:
input.isnull().sum()

Pclass      0
Age       177
Fare        0
female      0
male        0
dtype: int64

In [24]:
input.Age = input.Age.fillna(input.Age.mean())

In [25]:
input.isnull().sum()

Pclass    0
Age       0
Fare      0
female    0
male      0
dtype: int64

In [27]:
x_train,x_test,y_train,y_test = train_test_split(input,target,random_state=50,test_size=0.2)

In [29]:
model = GaussianNB()
model.fit(x_train,y_train)
model.score(x_test,y_test)

0.7877094972067039